/* 奇数行のスタイル */
table.players tr:nth-child(odd){
  background-color:#f0f0f0;
}
 
/* 偶数行のスタイル */
table.players tr:nth-child(even){
  background-color:white;
}

.players{
  width: 100%;
}

.vmain{
  width: 100%;
}

.paging{
  text-align: center;
}

.paging a{
  padding: 5px;
}